body {
    display: grid;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "main--title main--title" "main--img main--text";
    padding: 2em;
    box-sizing: border-box;
}

#main--title {
    width: 100%;
    display: block;
    grid-area: main--title;
    padding: 2em;
    box-sizing: border-box;
}

#main--img {
    grid-area: main--img;
    box-sizing: border-box;
    padding: 2em;
    text-align: right;
}

#main--text {
    grid-area: main--text;
    box-sizing: border-box;
    padding: 2em;
    text-align: left;
}

