body {
    display: grid;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "main--title main--title" "main--img main--text";
    padding: 2em;
    box-sizing: border-box;
}

#main--title {
    width: 100%;
    display: block;
    grid-area: main--title;
    padding: 2em;
    box-sizing: border-box;
}

#main--img {
    grid-area: main--img;
    box-sizing: border-box;
    padding: 2em;
    text-align: right;
}

#main--text {
    grid-area: main--text;
    box-sizing: border-box;
    padding: 2em;
    text-align: left;
}

@media (max-width: 599px) {
    #menu {
        text-align: center;
    }
    #imgs img {
        max-width: 80%;
    }
    #main {
        grid-template-columns: 1fr;
        grid-template-areas: "main--title" "main--text" "main--img";
        text-align: center;
    }
    #main--title img {
        width: 70%;
        height: auto;
    }
    #main--img {
        text-align: center;
    }
    #main--img img {
        width: 90%;
    }
    #main--text {
        text-align: center;
        margin: 0;
    }
    #news {
        width: 90%;
    }
}