:root {
	--Color_Text: #111111;
	--Color_White1: #EFEFEF;
	--Color_White2: #CCCCCC;
	--Color_White4: #FCFCFC;
	--Color_Shadow: rgba(0, 0, 0, 0.125);
	--Color_Transparent: rgba(0, 0, 0, 0);
	--Color_Thema: #FFD700;
}

* {
	font-family: "ヒラギノ角ゴ Pro W1", "Hiragino Kaku Gothic ProN", "メイリオ", "Osaka", "游ゴシック", Meiryo, sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

h3 {
	font-size: x-large;
	background: linear-gradient(transparent 70%, var(--Color_Thema) 70%);
	padding-left: .25em;
	padding-bottom: .2em;
	width: 60%;
	box-sizing: border-box;
}

@media (max-width: 599px) {
	h3{
		width: 100%;
	}
}

#bgg {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #FAFAFA;
}

#menu {
	background-color: #FFFFFF;
}

#menu ul {
	display: flex;
	list-style: none;
}

#menu li {
	margin: 1em;
	padding: 2px;
	transition: border-bottom-color .2s;
	border-bottom: 1px solid var(--Color_Transparent);
}

#menu li:hover {
	border-bottom-color: #000;
}

#menu a {
	text-decoration: none;
	color: var(--Color_Text);
}

#imgs {
	background-color: #FFFFFF;
	padding-top: .5em;
	width: 100%;
	text-align: center;
}

#imgs img {
	width: 75%;
}

#sns {
	background-color: #FFFFFF;
	padding-top: 3em;
	padding-bottom: 1em;
	width: 100%;
	text-align: center;
}

#main {
	margin-top: 2em;
	width: 100%;
	text-align: center;
}

#main--title video {
	margin-top: 2em;
	width: 40%;
	min-width: 600px;
	max-width: 100%;
}

#main--img img {
	padding: .5em;
	box-sizing: border-box;
	width: 60%;
}

#main--text {
	margin-right: 20%;
}

#main--text p {
	padding-bottom: 2em;
}

#news {
	width: 100%;
	text-align: center;
	padding: 0 20%;
	box-sizing: border-box;
}

#news ul {
	margin-top: 2em;
	padding: 0;
	list-style: none;
	text-align: left;
	border-top: 1px solid var(--Color_White2);
}

#news li {
	padding: .75em 1em;
	border-bottom: 1px solid var(--Color_White2);
}

#sub {
	width: 100%;
	text-align: center;
}

#foot {
	margin-top: 2em;
	background: #EEE;
	padding: 2em;
	box-sizing: border-box;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}

#modal_window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--Color_White4);
	width: 480px;
	height: 600px;
	min-height: 80%;
	min-width: 80%;
	max-height: 90%;
	max-width: 90%;
	border-radius: var(--default_radius);
	overflow: hidden;
	overflow-y: scroll;
	padding: 2em;
	box-sizing: border-box;
}

#modal_window p {
	padding-bottom: 8em;
}

p {
	line-height: 1.4em;
	padding-left: 1em;
}

.button {
	text-align: center;
	text-decoration: none;
	padding: .8em .8em .6em;
	border: 1px solid var(--Color_Text);
	display: inline-block;
	min-width: 120px;
	background-color: var(--Color_Transparent);
	color: var(--Color_Text);
	transition: background-color .5s, color .5s;
	margin: 1.35em;
}

.button:hover {
	background-color: var(--Color_Text);
	color: var(--Color_White1);
}

.img--title {
	width: 350px;
	height: 96px;
}

.center {
	text-align: center;
	padding:0;
	margin: 0;
}