:root {
	--Color_Text: #111111;
	--Color_White1: #EFEFEF;
	--Color_White2: #CCCCCC;
	--Color_Shadow: rgba(0, 0, 0, 0.125);
	--Color_Transparent: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	padding: 0;
	color: var(--Color_Text);
	background-color: var(--Color_White1);
	background-image: radial-gradient(#CCCCCC 1px, transparent 1px);
	background-size: 20px 20px;
	min-height: 100vh;
}

* {
	font-weight: lighter;
	font-family: "ヒラギノ角ゴ Pro W1", "Hiragino Kaku Gothic ProN", "メイリオ", "Osaka", "游ゴシック", Meiryo, sans-serif;
}

/* --- テスト用 --- */

.button {
	text-decoration: none;
	padding: .8em;
	border: 1px solid var(--Color_Text);
	display: inline-block;
	min-width: 120px;
	background-color: var(--Color_Transparent);
	color: var(--Color_Text);
	transition: background-color .5s, color .5s;
}

.button:hover {
	background-color: var(--Color_Text);
	color: var(--Color_White1);
}

/* --- 後で分ける --- */

#frame_menu {
	width: 100vw;
	min-height: 6em;
	box-sizing: border-box;
	padding: auto;
	display: flex;
	align-items: center;
}

#frame_menu ul {
	display: flex;
	list-style: none;
}

#frame_menu li {
	margin: 1em;
	padding: 0;
	transition: border-bottom-color .2s;
	border-bottom: 1px solid var(--Color_Transparent);
}

#frame_menu li:hover {
	border-bottom-color: var(--Color_Text);
}

#frame_menu a {
	text-decoration: none;
	color: var(--Color_Text);
}

#frame_head {
	background-color: var(--Color_Shadow);
	width: 100%;
	text-align: center;
	padding: 2em;
	box-sizing: border-box;
}

#frame_foot {
	background-color: var(--Color_Text);
	width: 100%;
	padding: 2em;
	color: var(--Color_White1);
	box-sizing: border-box;
}

#frame_info {
	padding: 2em;
}

#frame_log {
	padding: 2em;
}