:root {
    --Color_Text: #111111;
    --Color_White1: #EFEFEF;
    --Color_White2: #CCCCCC;
    --Color_Shadow: rgba(0, 0, 0, 0.125);
    --Color_Transparent: rgba(0, 0, 0, 0);
}

body {
    padding: 0;
    margin: 0;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu li {
    margin: 1em;
    padding: 0;
    transition: border-bottom-color .2s;
    border-bottom: 1px solid var(--Color_Transparent);
}

#menu li:hover {
    border-bottom-color: var(--Color_Text);
}

#menu a {
    text-decoration: none;
    color: var(--Color_Text);
}

#imgs {
    margin-top: .5em;
    width: 100%;
    text-align: center;
}

#imgs img {
    width: 75%;
}

#sns {
    margin-top: 3em;
    width: 100%;
    text-align: center;
}

#main {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

#main--img img {
    padding: .5em;
    box-sizing: border-box;
}

#main--text {
    margin-right: 20%;
}

#news {
    width: 100%;
    text-align: center;
    padding: 0 20%;
    box-sizing: border-box;
}

#news ul {
    margin-top: 2em;
    padding: 0;
    list-style: none;
    text-align: left;
    border-top: 1px solid var(--Color_White2);
}

#news li {
    padding: .75em 1em;
    border-bottom: 1px solid var(--Color_White2);
}

#sub {
    width: 100%;
    text-align: center;
}

#foot {
    margin-top: 2em;
    background: #EEE;
    padding: 2em;
    box-sizing: border-box;
}

.button {
    text-align: center;
    text-decoration: none;
    padding: .8em .8em .6em;
    border: 1px solid var(--Color_Text);
    display: inline-block;
    min-width: 120px;
    background-color: var(--Color_Transparent);
    color: var(--Color_Text);
    transition: background-color .5s, color .5s;
    margin: 1.35em;
}

.button:hover {
    background-color: var(--Color_Text);
    color: var(--Color_White1);
}

.img--title {
    width: 350px;
    height: 96px;
}

